.login {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    .container {
        margin: 0px auto;
        padding: 50px 50px 0 50px;

        .parts {
            display: flex;
            justify-content: space-between;
            position: relative;
            main {
                form {
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 400px;
                    gap: 35px;
                    margin-left: 140px;
                    label {
                        font-size: 35.25px;
                        font-weight: 600;
                        line-height: 125%;
                        margin-bottom: 10px;
                    }
                    input {
                        padding: 20px 14px 20px 30px;
                        width: 400px;
                        font-size: 18.08px;
                        font-weight: 600;
                        line-height: 27.73px;
                        border: none;
                        border-radius: 9.64px;

                        box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.1);
                        background: rgb(255, 255, 255);
                        &::placeholder {
                            color: rgb(185, 185, 185);
                        }
                    }
                    button {
                        margin-top: 20px;
                        border-radius: 15.7px;
                        background: rgb(20, 20, 22);
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 27px;
                        letter-spacing: 3%;
                        text-align: left;
                        text-transform: uppercase;
                        color: rgb(243, 245, 246);
                        padding: 24px 0;
                        text-align: center;
                        cursor: pointer;
                        width: 100%;
                        &:disabled {
                            opacity: 0.5;
                            cursor: auto;
                        }
                    }
                    a {
                        font-size: 18px;
                        text-align: center;
                        color: #000;
                        width: 306px;
                        font-weight: 600;
                        padding: 7px 27px;
                        text-decoration: none;
                        border-radius: 9.64px;
                        box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.1);
                        background: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    .intro {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 663px;
        background: #141416;
        img {
            width: 341.07px;
            height: 332.35px;
            margin-top: 150px;
            margin-left: 150px;
        }
        h1 {
            margin: 0;
            color: #fff;
            font-size: 46px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: -2%;
            text-align: center;
        }
        p {
            margin: 15px 0 0 150px;
            padding: 0;
            color: rgb(109, 109, 109);
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            max-width: 380px;
        }
    }
}
