.bdResultPage {
    font-family: 'Montserrat', sans-serif;
    color: #1A202C;
    max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;

    .container {
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }

    .leftSection {
        margin-top: 70px;
        width: 30%;
        display:flex;
        flex-flow: column wrap;
        // padding: 20px;
        hr {
            width: 100px;
            margin: 0;
        }

        h1 {
            color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 75px;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 1px;
            text-align: left;
            margin-bottom: 20px;
            margin-top: 0;
        }

        .taskInfo {
            margin-bottom: 20px;
            span {
                margin-bottom: 10px;
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: left;   
            }
            p {
                // margin-bottom: 10px;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: left;
                color: #b4b4b4;
            }

            .taskTextBlock {
                border: 3px solid rgb(255, 183, 183);
                border-radius: 0px 0px 17px 17px;
                border-top: none;
                background: rgb(255, 233, 233);
                padding: 10px 28px;

                i {
                    margin-right: 10px;
                    font-size: 24px;
                    color: rgb(226, 51, 51);
                }
            }

            .taskText {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: left;
                color: #6d6b6b;
            }

            .userText {
                border: 3px solid rgb(209, 209, 209);
                border-radius: 17px 17px 0px 0px;
                background: rgb(245, 244, 244);
                padding: 10px 28px;
            }
}

        .autoCheckResults {
            margin-bottom: 20px;
            .resultSec {
                border: 3px solid rgb(223, 223, 223);
                border-radius: 17px;
                background: rgb(255, 255, 255);
                padding: 10px 28px;
                .result {

                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0;
                    align-items: center;
                    i {
                        margin-right: 14px;
                    }
                    p {
                        color: rgb(20, 20, 22);
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 140%;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                    span {
                        
                        font-family: Montserrat;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 140%;
                        letter-spacing: 0px;
                        text-align: center;
                        align-self: center;
                    }
                }
                .result:nth-child(1) {
                    i {
                        color:rgb(226, 51, 51);
                    }
                }
                .result:nth-child(2) {
                    i {
                        color: rgb(255, 225, 132);
                    }
                }
                .result:nth-child(3) {
                    i {
                        color: rgb(196, 196, 196);
                    }
                }
            }
            
            .resultMain {
                display: flex;
                justify-content: space-between;
                border: 3px solid rgb(223, 223, 223);
                border-radius: 17px;
                background: rgb(255, 255, 255);
                padding: 20px 20px;
                margin-bottom: 5px;
                align-items: center;
                i {
                    margin-right: 14px;
                    color: rgb(16, 195, 82);
                    font-size: 28px;
                }
                p {
                    color: rgb(20, 20, 22);
                    font-family: Montserrat;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 0px;
                    text-align: left;
                }
                span {
                    
                    font-family: Montserrat;
                    font-size: 24.51px;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: 0px;
                    text-align: center;
                }
            }
        }

        .scoreSection {
            display:flex;
            flex-flow: column wrap;
            .scoreSectionText {
                box-sizing: border-box;
                border: 3px solid rgb(223, 223, 223);
                border-radius: 17px;
                padding: 12px 125px;
                background-color: rgb(196, 196, 196);
                
                p {
                    color: rgb(255, 255, 255);
                    font-family: Inter;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 140%;
                    letter-spacing: 0px;
                    text-align: center;
                }
            }
        }

        .sendSolution {
            
            margin-top: 30px;
            border: 3px solid rgb(223, 223, 223);
            border-radius: 21px;
            background: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            padding: 10px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0px;
            text-align: center;
            text-transform: uppercase;
            &:hover{
                background: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                transition: .3s ease-out;
            }
        }
    }

    .rightSection {
        width: 63%;
        
        padding: 20px;
        margin-top: 80px;

        .codeDisplay {
            max-height: 647px;
            overflow-y: auto;
            margin-bottom: 20px;
            border: 3px solid rgb(223, 223, 223);
            border-radius: 25px;
            // background: rgb(255, 255, 255);
            margin: 0;
            padding: 0 30px;
        }
        .codeDisplayM {
            margin-left: 75px;
        }

        .commentsSection {
            
            padding-top: 20px;

            .commentInput {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                input {
                    flex: 1;
                    padding: 15.5px 31px;
                    margin-right: 10px;
                    border: 3px solid rgb(223, 223, 223);
                    border-radius: 12px;
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0px;
                    text-align: left;
                    &::placeholder {
                        color: rgb(203, 199, 199);
                        font-family: Montserrat;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 140%;
                        letter-spacing: 0px;
                        text-align: left;
                    }
                }
                

                button {
                    padding: 13px 20px;
                    border: .5px solid black;
                    background-color: #1A202C;
                    color: #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    i{
                        font-size: 25px;
                    }
                }
                button:hover {
                    background-color: #ffffff;
                    border: .5px solid black;
                    i {
                        color: #000000;
                    }
                    transition: .3s ease-out;
                }
            }

            .comments .comment {
                margin-bottom: 20px;
                border: 3px solid rgb(223, 223, 223);
                border-radius: 12px;
                background: rgb(255, 255, 255);
                padding: 10px;
                max-width: 402px;

                &.admin {
                    text-align: left;
                }

                &.user {
                    text-align: right;
                    margin-left: 415px;
                }

                .commentAuthor {
                    color: rgb(0, 0, 0);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 140%;
                    letter-spacing: 0px;
                }

                .commentTime {
                    color: rgb(192, 192, 192);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 140%;
                    letter-spacing: 0px;
                    text-align: right;
                }

                .commentText {
                    color: rgb(0, 0, 0);
                    font-family: Montserrat;
                    font-size: 16px;
                    font-weight: 275;
                    line-height: 140%;
                    letter-spacing: 0px;
                    word-break: break-all;
                }
            }
        }
    }
}

.codeComplete {
    // height: 347px;
    width: 340px;
    display:flex;
    flex-flow:column;
    align-items: center;
    margin: 0;
    margin-bottom: 380px;
    margin-left: 150px !important;
    margin-right: 70px !important;
    border: 3px solid rgb(223, 223, 223);
    border-radius: 25px;
    // background: rgb(255, 255, 255);
    padding: 20px 30px;
    p {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
            font-family: Montserrat;
            font-size: 16px;
    }
    button {
        margin-top: 0px;
        border: 3px solid rgb(223, 223, 223);
        border-radius: 21px;
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0px;
        text-align: center;
        text-transform: uppercase;
        width: 250px;
    
        &:hover {
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            transition: .3s ease-out;
        }
    }
}

.dateSeparator {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;

}

.separator {
    position: relative;
}

.dateLabel {
    text-align: center;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
    position: absolute;
    top: -14px;
    right: 360px;
    // border: 1px solid rgb(223, 223, 223);
    border-radius: 7px;
    background: rgb(226, 226, 226);
    padding: 5px 7px;
}