.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.mainContent {
    flex: 1;
    padding: 20px;
    margin: 0 0 126px 0;

    h1 {
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 75px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 1px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

.mainHR {
    width: 100px;

    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
    
}
.filterContainer {
    margin-bottom: 60px;
}

.filterButton {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    background-color: rgb(237, 237, 237);
    width: 180px;
    height: 40px;
    padding: 10px;
    color: rgb(194, 195, 203);
    font-family: Montserrat;
    font-size: 15.71px;
    font-weight: 500;
    line-height: 117.5%;
    letter-spacing: -2%;
    text-align: left;
    

    &:hover,
    &.active {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.3s ease-out;
        border: .5px solid black;
        
    }
}

.clearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: .5px solid black;
    font-family: Montserrat;
    font-size: 15.71px;
    font-weight: 500;
    line-height: 117.5%;
    letter-spacing: -2%;
    text-align: center;
    
    &:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: 0.3s ease-out;
        border: .5px solid black;
    }
}
.closed {
    display: none;
    margin-bottom: 60px;
}

.filterPanel {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    background: rgb(237, 237, 237);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 12px;
    width: 820px;
    align-items: center;
    margin-left: 540px;

    .firstPart {
        display: flex;
        width: 365px;
        flex-flow: column wrap;
        align-items: center;

        .firstSubPart {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            gap: 5px;
        }

        .secondSubPart {
            display: flex;
            flex-flow: column wrap;
        }
    }

    .secondPart {}

    label {
        margin-bottom: 10px;
        font-weight: 500;
        // margin-right: 15px;
        // margin-left: 15px;
        float: right;
    }

    input[type="date"],
    input[type="text"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 5px;

        color: rgb(133, 132, 132);

        &::placeholder {
            color: rgb(212, 212, 212);
        }
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 18px;
    
        color: rgb(133, 132, 132);
    
        &::placeholder {
            color: rgb(212, 212, 212);
        }
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    button {
        align-self: flex-end;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background: rgb(0, 0, 0);
        color: white;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background: rgb(226, 51, 51);
            transition: 0.3s ease-out;
        }
    }
}

.table {
    display: flex;
    flex-direction: column;
    margin-bottom:30px;
    .noResultsContainer {
        display: grid;
        grid-template-columns: 2.4fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        margin-left: 20px;
        margin-top: 10px;
    }

    .noResults {
        text-align: left;
        font-family: Montserrat;
        font-size: 16px;
        color: rgb(147, 152, 154);
        &:nth-child(1){
            justify-self: left;
        }
    }
}

.tableHeader,
.tableRow {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr;
    /* Обновлено количество столбцов */
    align-items: center;
    padding: 10px 0;
    justify-items: center;
    color: rgb(147, 152, 154);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: left;
}

.status {
    color: black;
    font-size: 18px;
margin-left: 20px;
}

.date {
    font-size: 18px;
    margin-left: 10px;
}

.taskNumber {
    font-size: 18px;
    margin-left: 20px;
}

.name {
    font-size: 18px;
}

.score {
    margin-left: 20px;
}

.tableBody {
    max-height: 460px;
    overflow-y: auto;
}

.tableRow span {
    color: black;
}

.name {
    display: flex;
    align-items: center;

}

.first {
    justify-self: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.checking {
    color: rgb(211, 6, 6) !important;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
}

.checked {
    color: rgb(87, 1, 1) !important;
    font-weight:bold;
    font-size: 18px;
    margin-left: 20px;
}

.ava {
    background-image: url("../../../assets/Main_Logo.png");
    height: 72px;
    width: 72px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
    border: 3.5px solid rgb(255, 255, 255);
    border-radius: 1750.91px;
    margin-right: 10px;
}
.deletedTaskNumber {
    color: rgb(226, 51, 51) !important;
    font-size: 18px;
    margin-left: 20px;
}
.red {
    color: rgb(226, 51, 51) !important;
}

.yellow {
    color: rgb(255, 225, 133) !important;
}

.green {
    color: rgb(16, 195, 82) !important;
}

.gray {
    color: rgb(196, 196, 196) !important;
}

.highlightedRow {
    background-color: rgba(248, 202, 202, 0.3); 
}
.score {
    font-weight: bold; 
}
.displayNone {
    display: none;
}

.displayNoneB {
    cursor: not-allowed;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgb(105, 105, 105);
    width: 60px;
    height: 60px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1%;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    margin-left: 30px;
    pointer-events: none;
    i {
        color: rgb(255, 255, 255);
    }
}
.detailsButton {
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1%;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    margin-left: 30px;
}

.detailsButton i {
    color: rgb(255, 255, 255);
}

.detailsButton:hover {
    background-color: rgb(226, 51, 51);
    color: rgb(255, 255, 255);
    transition: .3s ease-out;
}